# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On

# Exclude HTTPS enforcement for requests from 10.0.0.0/24 IP range
RewriteCond %{HTTPS} on
RewriteCond %{REMOTE_ADDR} ^10\.0\.0\.[0-9]{1,3}$
RewriteRule ^(.*)$ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# HTTPS enforcement for all other URLs
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress

# BEGIN HSTS (HTTP Strict Transport Security)
<IfModule mod_headers.c>
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
</IfModule>
