# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On

# Redirect HTTP to HTTPS for IP ranges not starting with 10.
RewriteCond %{HTTPS} !=on
RewriteCond %{REMOTE_ADDR} !^10\.
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Allow HTTP access for IP ranges starting with 10.
RewriteCond %{REMOTE_ADDR} ^10\.
RewriteRule ^(.*)$ - [L]

RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress

# BEGIN HSTS (HTTP Strict Transport Security)
<IfModule mod_headers.c>
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
</IfModule>

